In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
url = 'https://wuzzuf.net/search/jobs/?q=Data+Analyst&a=hpb'

In [3]:
page = requests.get(url)

In [4]:
soup = bs(page.text,'html')

In [5]:
container = soup.find_all('div',class_ = 'css-1gatmva e1v1l3u10')[0]

In [6]:
data  = container.find_all('h2')

In [7]:
title = [d.text.strip() for d in data]

In [8]:
data2 = container.find_all('a',class_ ='css-17s97q8')

In [9]:
company = [d2.text.strip() for d2 in data2]

In [10]:
company = company[0].replace(' -','')

In [11]:
title = title[0]

In [12]:
containers = soup.find_all('div',class_ = 'css-1gatmva e1v1l3u10')

In [21]:
final_title = []
final_company = []
for container in containers:
    title_extract = container.find_all('h2')
    title = [data.text.strip() for data in title_extract]
    title = title[0]
    company_extract = container.find_all('a',class_ ='css-17s97q8')
    company = [data2.text.strip() for data2 in company_extract]
    company = company[0].replace(' -','')
    final_title.append(title)
    final_company.append(company)

In [22]:
columns_ready = ['Title','Company_name']

In [23]:
df = pd.DataFrame({'Title':final_title,'Company':final_company})

In [24]:
df

,Title,Company
0,Data Analyst,NOK for Human Capital Solutions
1,Senior Data Analyst (Tableau Developer),Fawry for Banking Technology and Electronic Pa...
2,Data Analyst,Qparts
3,Senior Business Data Analyst,Sky Distribution
4,Data Analyst,ComeX Engineering Company
5,Repair Order Specialist (Data Analyst),OPPO Egypt
6,Export Data Analyst,Evyap Egypt
7,Data Analyst,CRIF EGYPT
8,Data Analyst,Confidential
9,Data Analyst,Confidential
10,Pricing Analyst,Target Recruitment & HR Solutions
11,Junior Data Analyst - Remote Work - US Clients,InitRes
12,Data Analyst,Confidential
13,Senior Business Analyst (banking) - In KSA,Ejada
14,Senior Treasury Analyst,LOLC EL-OULA MICROFINANCE EGYPT’